{% extends 'base.html' %}

{% load static %}

{% block title %} Authorization {% endblock %}


{% block content %}
<div class="w360 block-align">
    {% if user.is_authenticated %}
    <h1 class="heading1 text-center">Logout</h1>

    <div class="text-center">You can write a <a href="{% url 'root:user_email_to_admin' %}">message</a> to admin</div>

    <form method='post' action="{% url 'root:user_logout' %}">{% csrf_token %}
        <div class="horiz-align-center">
            <button type="submit" class="btn btn-primary"> Exit </button>
        </div>
    </form>
    {% else %}
    <h1 class="heading1 text-center">Login</h1>

    <div class="text-center">You can a <a href="{% url 'root:user_registration' %}">register</a> new user</div>

    <form action="{% url 'root:user_login' %}" method="post" id="login_form">{% csrf_token %}
        <div class="err" id="login_err"></div>
        {{form.as_p}}
        <div class="horiz-align-center">
            <button type="submit" class="btn btn-primary"> Login </button>
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% else %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
        </div>
    </form>
    <script>
        $(document).ready(function(){

            $('#login_form').on('submit', function(e) {
                e.preventDefault();

                t = $(this);
                subbtn = t.find('button[type="submit"]');

                subbtn.prop({'disabled': true});

                $.ajax({

                    url: t.attr('action'),
                    type: 'POST',
                    data: t.serialize(),
                    dataType: 'json',

                    success: function(serverdata) {
                        
                        if(serverdata['errors']) {
                            errs = serverdata['errors'];
                            err_block = t.find('#login_err');
                            err_block.empty();
                            ul = $('<ul></ul>');

                            for(let i in errs){
            
                                li = $('<li></li>');

                                if(i == '__all__') {
                                    li.text(errs[i]);
                                }
                                else{
                                    li.text(i + ': ' + errs[i]);
                                }
                                
                                ul.append(li);
                            }

                            err_block.append(ul);                            
                        } 
                        else {
                            let redirect_delay = 300;
                            setTimeout(function() {
                                window.location.replace(serverdata['success_login_redirect']);
                            }, redirect_delay)
                        }

                        subbtn.prop({'disabled': false});
                    },
                    error: function(xhr, status, error) {
                        subbtn.prop({'disabled': false});
                        console.log(' ' + status + ' ' + error);
                    }

               }); 
            });
        });

    </script>
    {% endif %}
</div>
{% endblock %}
