{% extends 'base.html' %}

{% block title %} Message to admin {% endblock %}

{% block include_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}

{% block include_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
{% endblock %}


{% block content %}
<div class="w360 block-align">
    <h1 class="heading1 text-center">Message to admin</h1>
    
    <form action="{% url 'root:user_email_to_admin' %}" method="post" id="mail_to_admin_form">{%csrf_token%}
        <div id="err-msgs"></div>
        {{form.as_p}}
        <div class="horiz-align-center">
            <button type="submit" class="btn btn-primary" id="send_btn"> Send </button>
        </div>
    </form>

    <div class="modal" id="jqmodal-succ">
        <p></p>
    </div>

</div>

<script>
    $(document).ready(function(){

        $('#mail_to_admin_form').on('submit', function(e){
            e.preventDefault();
            
            t = $(this)
            modal_window = $('#jqmodal-succ');
            subbtn = t.find('button[type="submit"]');
            subbtn.prop({'disabled': true});

            $.ajax({
                url: t.attr('action'),
                type: 'POST',
                data: t.serialize(),
                dataType: 'json',


                success: function(serverdata){

                    if(serverdata['errors']){
                        errs = serverdata['errors'];

                        err_block = t.find('#err-msgs');
                        err_block.empty();
                        ul = $('<ul></ul>');

                        for(let i in errs){
            
                            if(i == 'email'){
                                li = $('<li></li>');
                                li.text('Admin '+ i + ': ' + errs[i]);
                                ul.append(li);
                            }

                            if(i == 'text'){
                                li = $('<li></li>');
                                li.text('Message ' + i + ': ' + errs[i]);
                                ul.append(li);
                            }
                        }

                        err_block.append(ul); 
                    }
                    else {
                        msg = serverdata['msg'];
                        modal_window.find('p').text(msg);
                        modal_window.modal();
                        modal_window.find('a[rel="modal:close"]')
                                    .css({'top': '-3px', 'right': '-3px'});
                        t[0].reset(); // reset the form
                    }

                    subbtn.prop({'disabled': false});

                },
                error: function(xhr, status, error){
                    subbtn.prop({'disabled': false});
                }

            })


        })

    });
</script>
{% endblock %}
