{% extends 'base.html' %}

{% load static %}

{% block title %} Registration {% endblock %}


{% block content %}
<div class="w360 block-align">
    <h1 class="heading1 text-center">Registration</h1>

    <div class="text-center">You can <a href="{% url 'root:user_login' %}">login</a>, if you have an account</div>

    <form action="{% url 'root:user_registration' %}" method="post" id="reg_form">{% csrf_token %}
        <div class="reg_err" id="reg_err"></div>
        {{ form.as_p }}
        <div class="horiz-align-center">
            <button type="submit" class="btn btn-primary">GO!</button>
        </div>
    </form>
    <script>
        $(document).ready(function(){

            $('#reg_form').on('submit', function(e) {
               e.preventDefault();

               	t = $(this);
               	subbtn = t.find('button[type="submit"]');
            	subbtn.prop({'disabled': true});

               	$.ajax({

                    url: t.attr('action'),
                    type: 'POST',
                    data: t.serialize(),
                    dataType: 'json',

                    success: function(serverdata) {
     
                        if(serverdata['errors']) {
                            errs = serverdata['errors'];
                            err_block = t.find('#reg_err');
                            err_block.empty();
                            ul = $('<ul></ul>');

                            for(let i in errs){
            					console.log(i, errs[i])
			                	li = $('<li></li>');

			                	if(errs[i].length > 1){
			                		for(j in errs[i]){
			                			li.append('<div>' + errs[i][j] + '</div>')
			                		}
			                	}
			                	else{
			                		li.text(i + ': ' + errs[i])
			                	}

			                	ul.append(li)
                			}

                            err_block.append(ul)
                        }
                        
            			subbtn.prop({'disabled': false});
                    },
                    error: function(xhr, status, error) {
            			subbtn.prop({'disabled': false});

                        console.log(' ' + status + ' ' + error);
                    }

               }); 
            });

            // function traverse_through(errs, ul) {
            // 	for(let i in errs){
            //     	if(errs[i].length > 1) {
            //     		traverse_through(errs[i], ul)
            //     	}
            //     	li = $('<li></li>');
            //     	li.text(errs[i])
            //     	ul.append(li)
            //     }
            // }
        });

    </script>
</div>
{% endblock %}
