

.horiz-align-center{
    text-align: center;
}

.w360{
    width: 360px;
}

.heading1{
    font-size: 26px;
    margin-top: 25px;
}

.block-align{
    margin: 0 auto;
    margin-top: 45px;
}

body{
    /*background-color: lightgreen;*/
    padding-top: 50px;
}